button,button:hover{
    border:none;
    color:#fff;
    padding:10px;
}
.chat__messages,.chat__sidebar ul{
    list-style-type:none;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:300;
    font-size:.95rem;
}
li,ul{
    list-style-position:inside;
}
h3{
    font-weight:600;
    text-align:center;
    font-size:1.5rem;
}
button{
    background:#265f82;
    cursor:pointer;
    transition:background .3s ease;
    border-radius: 7px;
}
button:hover{
    background:#1F4C69;
}
button:disabled{
    cursor:default;
    background:#698ea5;
}
.centered-form{
    display:flex;
    align-items:center;
    height:100vh;
    width:100vw;
    justify-content:center;
    background:-moz-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:-webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(49,84,129,1)),color-stop(100%,rgba(39,107,130,1)));
    background:-webkit-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:-o-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:-ms-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:linear-gradient(325deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%)
}
.centered-form__form{
    background:rgba(250,250,250,.9);
    border:1px solid #e1e1e1;
    border-radius:5px;
    padding:0 20px;
    margin:20px;
    width:230px
}
.form-field{
    margin:20px 0
}
.form-field>*{
    width:100%
}
.form-field label{
    display:block;
    margin-bottom:7px
}
.form-field input{
    border:1px solid #e1e1e1;
    padding:10px
}
.form-field input.valid{
    border:1px solid #15ff00;
    padding:10px
}
.form-field input.notValid{
    border:2px solid #ff0000;
    padding:10px
}
.form-field select{
    border:2px solid #e1e1e1;
    padding:10px
}
.form-field p.errShow{
    display: block;
    color: red;
}
.form-field p.errHide{
    display: none;
}
.chat{
    display:flex
}
.chat__sidebar{
    overflow-y:scroll;
    width:260px;
    height:100vh;
    background:-moz-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:-webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(49,84,129,1)),color-stop(100%,rgba(39,107,130,1)));
    background:-webkit-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:-o-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:-ms-linear-gradient(125deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%);
    background:linear-gradient(325deg,rgba(39,107,130,1) 0,rgba(49,84,129,1) 100%)
}
.chat__footer,.chat__sidebar li{
    background:#e6eaee;
    padding:10px
}
.chat__sidebar h3{
    color:#e6eaee;
    margin:10px 20px;
    text-align:left
}
.chat__sidebar li{
    border:1px solid #e1e1e1;
    border-radius:5px;
    margin:10px
}
.chat__main{
    display:flex;
    flex-direction:column;
    height:100vh;
    width:100%
}
.chat__messages{
    flex-grow:1;
    overflow-y:scroll;-webkit-overflow-scrolling:touch;padding:10px
}
.chat__footer{
    display:flex;
    flex-shrink:0
}
.chat__footer form{
    flex-grow:1;
    display:flex
}
.chat__footer form *{
    margin-right:10px
}
.chat__footer input{
    border:none;
    border-radius: 8px;
    padding:10px 40px;
    flex-grow:1
}
.message{
    padding:10px
}
.message__title{
    display:flex;
    margin-bottom:5px
}
.message__title h4{
    font-weight:600;
    margin-right:10px
}
.message__title span{
    color:#999
}
@media (max-width:600px){
    *{
        font-size:1rem
    }
    .chat__sidebar{
        display:none
    }
    .chat__footer{
        flex-direction:column
    }
    .chat__footer form{
        margin-bottom:10px
    }
    .chat__footer button{
        margin-right:0
    }
}

.chat_header{
    background-color: #2f5a81;
    height: 80px;
    width: 100%;
}
.room_name{
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    color: #fff;
    margin: 10px 0px;
}
.typing_user{
    padding-left: 10px;
    color: #fff;
}
.typing_user span{
    margin: 0px 10px;
}
.chat__main .fileUpload{
    padding: 9px 0px;
    cursor: pointer;
}
.message__body p{
    margin-bottom: 10px;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.smiley{
    padding: 9px 0px;
    cursor: pointer;
    position: absolute;
    margin-left: 10px;
}

.smileyDiv{
    display: none;
    height: 50px;
    width: 80%;
    padding: 12px;
}

.smileyDiv img{
    height: 30px;
    width: 30px;
    margin: 0px 10px;
    cursor: pointer;
}

.chat__footer #firstEmoji{
    position: relative;
    top: 8px;
    right: 40px;
} 
.message__body p img{
    position: relative;
    top: 8px;
    height: 25px;
    width: 25px;
    margin-left: 10px;
}
